@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBold.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftItalic.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBoldItalic.otf");
}

mc-server-plate {
    display: inline-block;
    vertical-align: middle;
    font-family: Minecraft;
    font-size: 16px;
    line-height: 1.1em;
}

/* MC Server Plate */
.mc-server-plate-server {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    border: 1px solid black;
    gap: 8px;
    height: fit-content;
    width: 500px;
    background: linear-gradient(#000000cc, #000000cc), url("https://rumyantsev168.github.io/static/minecraft/dirt.png");
    background-size: 64px;
    image-rendering: pixelated;
    color: #ffffff;
    cursor: default;
    text-align: left;
}
.mc-server-plate-icon {
    height: 64px;
}
.mc-server-plate-name-motd {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    overflow: hidden;
    white-space: pre;
    word-break: keep-all;
}
.mc-server-plate-name {
    line-height: 16px;
    margin-top: 4px;
}
.mc-server-plate-motd {
    line-height: 16px;
    margin: 6px 0;
}
.mc-server-plate-status {
    position: absolute;
    top: 0;
    right: 0;
    image-rendering: pixelated;
    height: 1em;
}
.mc-server-plate-count {
    color: rgb(190, 190, 190);
    position: absolute;
    top: 0;
    right: 24px;
}
