@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBold.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftItalic.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBoldItalic.otf");
}

/* Button */
button[minecraft] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: Minecraft;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0 color-mix(in srgb, 32% currentColor, black);
    background-color: #6f6f6f;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0.4em 0.8em;
    outline: 0.1em solid black;
    border-width: 0.1em 0.1em 0.2em 0.1em;
    border-style: solid;
    border-color: darkgray gray gray darkgray;
    border-radius: 0;
    word-break: keep-all;
    cursor: pointer;
}
/*
button[minecraft]::before,
button[minecraft]::after {
    content: "";
    position: absolute;
    background-color: inherit;
    height: 0.1em;
    width: 0.1em;
    pointer-events: none;
}
button[minecraft]::before {
    height: 0.2em;
}
button[minecraft]::before {
    bottom: -0.2em;
    left: -0.1em;
}
button[minecraft]::after {
    top: -0.1em;
    right: -0.1em;
}
*/
button[minecraft]:hover {
    background: #7e88bf;
    border-color: #C3C7E0 #5F68AA #5F68AA #C3C7E0;
    color: #ffff55;
}
button[minecraft]:active,
button[minecraft]:disabled {
    background-color: #2b2b2b;
    border-color: #434343 #373737 #373737 #434343;
    transform: translateY(0.1em);
}
button[minecraft]:disabled {
    cursor: not-allowed;
}

/* Input */
/* Text */
input[minecraft] {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    font-family: Minecraft;
    font-size: 16px;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0 color-mix(in srgb, 32% currentColor, black);
    background-color: black;
    min-width: fit-content;
    min-height: fit-content;
    padding: 0.4em 0.6em;
    outline: 0.1em solid darkgray;
    border: 0.1em solid black;
    word-break: keep-all;
    cursor: text;
    caret-shape: underscore;
}
input[minecraft]::selection {
    background-color: #0000ff;
}
input[minecraft]::placeholder {
    color: #3f3f3f;
}
input[minecraft]:disabled {
    cursor: not-allowed;
    color: #bebebe;
}
/* Checkbox and Radio Button */
input[minecraft][type="checkbox"],
input[minecraft][type="radio"] {
    appearance: none;
    width: 1em;
    height: 1em;
    vertical-align: middle;
    margin: 0;
    padding: 0;
    outline: 0.1em solid darkgray;
    border: 0.1em solid black;
    background: black;
    cursor: pointer;
}
input[minecraft][type="checkbox"]:checked::before {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsAAAA7AAWrWiQkAAAGHaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49J++7vycgaWQ9J1c1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCc/Pg0KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyI+PHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj48cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0idXVpZDpmYWY1YmRkNS1iYTNkLTExZGEtYWQzMS1kMzNkNzUxODJmMWIiIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIj48dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPjwvcmRmOkRlc2NyaXB0aW9uPjwvcmRmOlJERj48L3g6eG1wbWV0YT4NCjw/eHBhY2tldCBlbmQ9J3cnPz4slJgLAAAAI0lEQVQoU2NgoCn4////fwiBBaCIoytC56MIYpWEAbySuAAAY2of4amvMJcAAAAASUVORK5CYII=");
}
input[minecraft][type="radio"]:checked::before {
    content: "";
    background-image: url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAAXNSR0IArs4c6QAAAARnQU1BAACxjwv8YQUAAAAJcEhZcwAADsAAAA7AAWrWiQkAAAGHaVRYdFhNTDpjb20uYWRvYmUueG1wAAAAAAA8P3hwYWNrZXQgYmVnaW49J++7vycgaWQ9J1c1TTBNcENlaGlIenJlU3pOVGN6a2M5ZCc/Pg0KPHg6eG1wbWV0YSB4bWxuczp4PSJhZG9iZTpuczptZXRhLyI+PHJkZjpSREYgeG1sbnM6cmRmPSJodHRwOi8vd3d3LnczLm9yZy8xOTk5LzAyLzIyLXJkZi1zeW50YXgtbnMjIj48cmRmOkRlc2NyaXB0aW9uIHJkZjphYm91dD0idXVpZDpmYWY1YmRkNS1iYTNkLTExZGEtYWQzMS1kMzNkNzUxODJmMWIiIHhtbG5zOnRpZmY9Imh0dHA6Ly9ucy5hZG9iZS5jb20vdGlmZi8xLjAvIj48dGlmZjpPcmllbnRhdGlvbj4xPC90aWZmOk9yaWVudGF0aW9uPjwvcmRmOkRlc2NyaXB0aW9uPjwvcmRmOlJERj48L3g6eG1wbWV0YT4NCjw/eHBhY2tldCBlbmQ9J3cnPz4slJgLAAAAJUlEQVQoU83KIQIAAAjCwM3//xk7xerFARwESJIeAFSnY/twOC2I5AQMzYTUsQAAAABJRU5ErkJggg==");
}
input[minecraft][type="checkbox"]:checked::before,
input[minecraft][type="radio"]:checked::before {
    position: absolute;
    top: 0;
    left: 0;
    width: 0.8em;
    height: 0.8em;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    image-rendering: pixelated;
    display: block;
}
input[minecraft][type="checkbox"]:disabled,
input[minecraft][type="radio"]:disabled {
    cursor: not-allowed;
    color: #bebebe;
}
/* Range input (Slider) */
input[minecraft][type="range"] {
    appearance: none;
    padding: 0;
    min-width: 10em;
    height: 2.1em;
    background-color: #2b2b2b;
    outline: 0.1em solid black;
    border-width: 0.1em;
    border-style: solid;
    border-color: #434343 #373737 #373737 #434343;
    border-radius: 0;
    cursor: unset;
}

input[minecraft][type="range"]::-webkit-slider-thumb {
    appearance: none;
    height: 2.3em;
    width: 0.8em;
    background-color: #6f6f6f;
    cursor: grab;
    outline: 0.1em solid black;
    border-width: 0.1em 0.1em 0.2em 0.1em;
    border-style: solid;
    border-color: darkgray gray gray darkgray;
    border-radius: 0;
}
input[minecraft][type="range"]::-webkit-slider-thumb:hover {
    background: #7e88bf;
    border-color: #C3C7E0 #5F68AA #5F68AA #C3C7E0;
}
input[minecraft][type="range"]::-webkit-slider-thumb:disabled {
    background-color: #2b2b2b;
    border-color: #434343 #373737 #373737 #434343;
    cursor: not-allowed;
}
input[minecraft][type="range"]::-webkit-slider-thumb:active {
    cursor: grabbing;
}
input[minecraft][type=range]::-webkit-slider-runnable-track  {
    appearance: none;
}
input[minecraft][type=range]::after {
    content: attr(data-label);
    position: absolute;
    width: 100%;
    line-height: 2.1em;
    text-align: center;
    pointer-events: none;;
}
