@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBold.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftItalic.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBoldItalic.otf");
}

/* Tooltip */
.mc-tooltip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em 0.3em 0.2em 0.4em;
    background: #1E0F1E;
    color: #ffffff;
    font-family: Minecraft;
    font-size: 16px;
    text-align: left;
    width: fit-content;
    z-index: 9999;
    white-space: pre-wrap;
    line-height: 1.1em;
    box-shadow:
        0 -0.1em 0 0 #1E0F1E,
        0  0.1em 0 0 #1E0F1E,
        -0.1em 0 0 0 #1E0F1E,
        0.1em 0 0 0 #1E0F1E;
    text-shadow: 0.1em 0.1em 0 color-mix(in srgb, 32% currentColor, black);
}
.mc-tooltip::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0.1em solid #2B0A5E;
}
