@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftRegular.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: normal;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBold.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: normal;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftItalic.otf");
}
@font-face {
    font-family: "Minecraft";
    font-weight: bold;
    font-style: italic;
    src: url("https://rumyantsev168.github.io/static/font/MinecraftBoldItalic.otf");
}


item-slot, item-slot-grid {
    display: inline-block;
    vertical-align: middle;
    font-size: 16px;
}

.item-slot {
    position: relative;
    background: #8B8B8B no-repeat center center / 2em 2em;
    border: 0.1em solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 2em;
    height: 2em;
    image-rendering: pixelated;
    cursor: default;
    text-align: center;
    box-sizing: content-box;
}

.item-slot::before, .item-slot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 0.1em;
    width: 0.1em;
    pointer-events: none;
}

.item-slot::before {
    bottom: -0.1em;
    left: -0.1em;
}

.item-slot::after {
    top: -0.1em;
    right: -0.1em;
}

item-slot[large] > .item-slot {
    padding: 0.3em;
}

.item-slot > span {
    position: absolute;
    bottom: -0.1em;
    right: -0.1em;
    line-height: 0.8em;
    width: fit-content;
    font-family: Minecraft;
    font-size: 1em;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0 color-mix(in srgb, 32% currentColor, black);
    z-index: 100;
}

item-slot[large] > .item-slot > span {
    bottom: 0.2em;
    right: 0.2em;
}

.item-slot > img.item-image {
    width: 2em;
    height: 2em;
    object-fit: contain;
}

.item-slot-hover-overlay {
    display: none;
    position: absolute;
    margin: auto;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    width: 2em;
    height: 2em;
    background: #FFFFFF50;
    z-index: 999;
}

.item-slot:hover > .item-slot-hover-overlay {
    display: block;
}

.item-slot-durability {
    position: absolute;
    bottom: 0.2em;
    left: 0.2em;
    height: 0.1em;
    z-index: 50;
}

item-slot[large] .item-slot-durability {
    bottom: 0.5em;
    left: 0.5em;
    z-index: 49;
}

.item-slot-durability-bg {
    position: absolute;
    bottom: 0.1em;
    left: 0.2em;
    width: 1.7em;
    height: 0.2em;
    background-color: #1E0F1E;
}

item-slot[large] .item-slot-durability-bg {
    bottom: 0.4em;
    left: 0.5em;
}

.item-slot-tooltip {
    display: none;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0.2em 0.3em 0.2em 0.4em;
    background: #1E0F1E;
    color: #ffffff;
    font-family: Minecraft;
    font-size: 1em;
    text-align: left;
    width: fit-content;
    z-index: 9999;
    white-space: pre-wrap;
    pointer-events: none;
    line-height: 1.1em;
    box-shadow:
        0 -0.1em 0 0 #1E0F1E,
        0  0.1em 0 0 #1E0F1E,
        -0.1em 0 0 0 #1E0F1E,
        0.1em 0 0 0 #1E0F1E;
    text-shadow: 0.1em 0.1em 0 color-mix(in srgb, 32% currentColor, black);
}

.item-slot-tooltip::after {
    content: "";
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    border: 0.1em solid #2B0A5E;
}

.item-slot:hover .item-slot-tooltip {
    display: block;
}

.item-slot-mcui {
    background-color: #C6C6C6;
    border: 0.1em solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 0.4em;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    width: fit-content;
    height: fit-content;
    font-family: Minecraft;
    color: #373737;
}

.item-slot-crafting-ui {
    display: flex;
    align-items: center;
    gap: 0.5em;
    width: fit-content;
}

.item-slot-grid {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0;
}

.item-slot-row {
    display: flex;
    align-items: center;
}

.item-slot-crafting-arrow-yes {
    image-rendering: pixelated;
    background: url("https://rumyantsev168.github.io/static/Crafting_Arrow.png") no-repeat;
    min-width: 2em;
    height: 1.6em;
}

.item-slot-crafting-arrow-no {
    image-rendering: pixelated;
    background: url("https://rumyantsev168.github.io/static/Crafting_Arrow_Error.png") no-repeat;
    min-width: 2em;
    height: 1.6em;
    object-fit: cover;
}
