html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 1rem;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    width: calc(100% - 60px);
    height: fit-content;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 3px 0px;
}

ul, ol {
    margin: 5px 0px;
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

footer {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

input, textarea {
    margin: 0px;
    width: calc(100% - 8px);
    resize: none;
    font-family: Arial;
    font-size: 1rem;
}

textarea {
    width: calc(100% - 6px);
    min-height: 5rem;
    resize: vertical;
}

form {
    margin: 1rem 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
}

form > div {
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    gap: 10px;
}

.copied {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: calc(100% - 60px);
    max-width: fit-content;
    height: fit-content;
    background: #FFFFFF60;
    backdrop-filter: blur(5px);
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
}

.warning {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    width: fit-content;
    height: fit-content;
    background: #FFFFFF60;
    backdrop-filter: blur(5px);
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chat {
    margin: 0px;
    height: 15rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}
