@font-face {
    font-family: "MC-Regular";
    src: url("../font/MinecraftRegular.otf");
}

.item-slot {
    position: relative;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
    cursor: default;
}

.item-slot::before, .item-slot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 2px;
    width: 2px;
    pointer-events: none;
}

.item-slot::before {
    bottom: -2px;
    left: -2px;
}

.item-slot::after {
    top: -2px;
    right: -2px;
}

.item-slot > span {
    position: absolute;
    bottom: 0;
    right: 0;
    line-height: 1em;
    font-size: 16px;
    font-family: MC-Regular;
    color: #ffffff;
    text-shadow: 0.1em 0.1em 0px black;
}

.item-tooltip {
    display: none;
    position: relative;
    padding: 4px;
    background: #1E0F1E;
    color: #ffffff;
    font-family: MC-Regular;
    width: fit-content;
    z-index: 9999;
    white-space: nowrap;
}

.item-tooltip::after {
    content: "";
    position: absolute;
    left: 0.1em;
    right: 0.1em;
    top: 0.1em;
    bottom: 0.1em;
    border: 0.1em solid #2B0A5E;
}

.item-tooltip .item-tooltip-text-shadow {
    position: absolute;
    top: calc(4px + 0.1em);
    left: calc(4px + 0.1em);
    opacity: 25%;
}

.item-slot:hover .item-tooltip {
    display: block;
}