html {
    margin: 0px;
    padding: 0px;
    height: 100%;
    font-size: 1rem;
    background: #dadada;
    zoom: 110%;
}

main {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    padding: 15px;
    width: calc(100% - 60px);
    height: fit-content;
    align-items: center;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
    background: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px;
}

p {
    margin: 3px 0px;
}

ul, ol {
    margin: 5px 0px;
}

header {
    margin: 0px;
    padding: 0px;
    width: 100%;
    text-align: center;
}

footer {
    margin: 10px 0px 0px 0px;
    padding: 0px;
    width: 100%;
}

input, textarea {
    margin: 0px;
    width: calc(100% - 8px);
    resize: none;
    font-family: Arial;
    font-size: 1rem;
}

textarea {
    width: calc(100% - 6px);
    min-height: 5rem;
    resize: vertical;
}

form {
    margin: 10px 0px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5px;
}

form > div {
    width: 100%;
}

button {
    cursor: pointer;
}

button:disabled {
    cursor: default;
}

.buttons {
    display: flex;
    flex-direction: row-reverse;
    align-items: right;
    gap: 10px;
}

.copied {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    align-items: center;
    margin: auto;
    padding: 20px;
    width: calc(100% - 60px);
    max-width: fit-content;
    height: fit-content;
    background: #FFFFFF60;
    backdrop-filter: blur(5px);
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
}

.warning {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: 15px;
    padding: 10px;
    display: flex;
    align-items: center;
    gap: 7px;
    width: fit-content;
    height: fit-content;
    background: #ffffff60;
    border: 1px solid gray;
    border-radius: 3px;
    box-shadow: 2px 2px 5px #00000020;
}

.chat-container {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.chat, .key-logger {
    margin: 0px;
    height: 15rem;
    overflow-y: auto;
    display: flex;
    flex-direction: column-reverse;
}

.key-logger {
    flex-direction: column;
    font-family: monospace;
}

.no-margin { margin: 0px }
.text-left { text-align: left }
.text-center { text-align: center }
.text-right { text-align: right }

.chat > p.admin::before { content: "[ADM]:"; font-family: monospace }
.chat > p.user::before { content: "[USR]:"; font-family: monospace }

.item-slot {
    position: relative;
    background: #8B8B8B no-repeat center center / 32px 32px;
    border: 2px solid;
    border-color: #373737 #FFF #FFF #373737;
    width: 32px;
    height: 32px;
    image-rendering: pixelated;
}

.item-slot::before, .item-slot::after {
    content: "";
    position: absolute;
    background-color: #8B8B8B;
    height: 2px;
    width: 2px;
    pointer-events: none;
}

.item-slot::before {  bottom: -2px; left: -2px }
.item-slot::after { top: -2px; right: -2px }

.mcui {
    position: relative;
    background-color: #C6C6C6;
    border: 2px solid;
    border-color: #DBDBDB #5B5B5B #5B5B5B #DBDBDB;
    padding: 6px;
    text-align: left;
    white-space: nowrap;
    vertical-align: bottom;
    height: fit-content;
}

.crafting-ui {
    display: flex;
    align-items: center;
    gap: 8px;
    width: fit-content;
}

.slot-grid {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0px;
}

.slot-row {
    display: flex;
    align-items: center;
}

.crafting-arrow {
    display: inline-block;
    background: url(https://minecraft.wiki/images/Grid_layout_Arrow_%28small%29.png?a4894) no-repeat;
    min-width: 32px;
    height: 26px;
}